    body {
     background: url("https://fondosmil.com/fondo/50893.jpg") no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: auto; /* fondo de pantalla automatico*/
}

#container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#title{
    font-size: 20px;
}
#form-control{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h4 {
    text-align: center;
    color: rgb(235, 235, 235);
}


@media screen and (max-width:768px) {
    #container {
        grid-template-columns: 1fr;
    }
}