 <link rel="stylesheet" href="/css/navbar/navbar.css">
 <nav id="navbar">
        <div id="navbar-container">
            <img src="https://indieec.github.io/assets/logops.png" alt="logo-navbar"
               id="nav-logo">
           <a id="nav-link" aria-current="page" href="https://indieec.github.io/"
                      >LiderNato</a>
        </div>
    </nav>