<link rel="stylesheet" href="/css/cart/cart.css">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carrito de compras</title>
    
</head>

<body>
   <div id="cart-container">
    <div id="card">
        <h4 >Detalles Carrito</h4>
  <ul id="list-group">
     {{#each catalogueItems}}
      <li id="list-group-item">1x {{name}} {{price}}$</li>
       
  {{/each}}
  </ul>
  <div id="details-container">
 <p id="list-group-item">Total: {{total}}$</p>
      <a href="/cart/pucharse-config" id="btn-primary">Ir a configuración de compra</a>
  </div>
 
</div>
 
   </div>
</body>
