<link rel="stylesheet" href="/css/cart/thanksForYourOrder.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gracias</title>
</head>
<body>

    <div id="container">
        
        <div id="title">
            <h4>Gracias Por Tu orden pronto llegara a tu destino</h4>
        </div>
        <div id="hero">
            <img src="/images/undraw_Accept_terms_re_lj38.svg" alt="" id="img-fluid">
        </div>
    </div>
</body>
</html>