body {
    background: url("https://fondosmil.com/fondo/50893.jpg") no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: auto; /* fondo de pantalla automatico*/
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 200px;
    align-items: center;
    justify-content: center;
}
#card{
    display: grid;
    justify-content: center;
    align-items: center
}
#card-body {
    position: relative;
   display: flex;
   align-items: center;
   width: 360px;
   height: 350px;
   top: -50px;
   left: 240px;
   padding: 20px;
   background-color: rgb(0, 0, 0);
   color: white;
   font-size: 19px;

}

#img-fluid{
    width: 350px;
    height: 350px;
}



#navbar {
    background-color: rgb(218, 21, 21);
}
#btn-primary{
    position: relative;
    text-decoration: none;
    color: white;
    width: 190px;
    height: 40px;
    background-color: rgb(228, 30, 4);
    display: inline-block;
    border: none;
    padding: 10px;
    left: 80px;
    font-weight: 500;
    border-radius: 25px;
}
#btn-secondary{
    text-decoration: none;
    color: white;
    width: 190px;
    height: 40px;
    background-color: rgb(110, 110, 110);
    padding: 10px;
    font-weight: 500;
    border-radius: 25px;
}
#registrar{
    color: rgb(255, 255, 255);
    border-radius: 2px;
    position: relative;
    top: 65px;
    right: 70px;
}
@media screen and (max-width: 1000px) {
    #container {
        gap: 10px;
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 380px) {
        #card-body {
            font-size: 0.9rem;
        }
    }
}