<link rel="stylesheet" href="/css/cajas/cajas.css">
<h1 id="titulo">Lideres Religiosos</h1>
<div id="caja1">
    <img id="fotoCaja1" src="">
    <h2 id="tituloCajitas4">Papa Benedicto XVI</h2>
    <a id="boton1" href="" target="_blank">Ingresar</a>
</div>
<div id="caja2">
    <img id="fotoCaja2" src="">
    <h2 id="tituloCajitas4">Dalai Lama</h2>
    <a id="boton2" href="" target="_blank">Ingresar</a>
</div>
<div id="caja3">
    <img id="fotoCaja3" src="">
    <h2 id="tituloCajitas4">Gran Ayatollah</h2>
    <a id="boton3" href="" target="_blank">Ingresar</a>
</div>
<div id="caja4">
    <img id="fotoCaja4" src="">
    <h2 id="tituloCajitas4">Mahoma</h2>
    <a id="boton4" href="" target="_blank">Ingresar</a>
</div>