<link rel="stylesheet" href="/css/cajas/cajas.css">
<h1 id="titulo">Liderando</h1>
<div id="caja1">
    <img id="fotoCaja1" src="">
    <h2 id="tituloCajitas4">Liderazgo</h2>
    <a id="boton1" href="" target="_blank">Ingresar</a>
</div>
<div id="caja2">
    <img id="fotoCaja2" src="">
    <h2 id="tituloCajitas4">Un Líder dentro de Mi</h2>
    <a id="boton2" href="" target="_blank">Ingresar</a>
</div>
<div id="caja3">
    <img id="fotoCaja3" src="">
    <h2 id="tituloCajitas4">Fundamentos de un Líder</h2>
    <a id="boton3" href="" target="_blank">Ingresar</a>
</div>
<div id="caja4">
    <img id="fotoCaja4" src="">
    <h2 id="tituloCajitas4">Autoconocimiento</h2>
    <a id="boton4" href="" target="_blank">Ingresar</a>
</div>