<link rel="stylesheet" href="/css/auth/auth.css">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro usuario</title>
</head>

<body>

    <div id="container">
        <div id="card">
            <div id="card-body">
                <form action="/users" method="POST" enctype="multipart/form-data">
<div id="form-container">
                        <label for="username" id="form-label">Usuario:</label>
                        <input type="text" id="form-control" id="username" name="username" tabindex="1" required>
                         <label for="password" id="form-label">Contraseña:</label>
                        <input type="password" id="form-control" id="password" name="password" tabindex="1" required>
                        <label for="email" id="form-label">Email:</label>
                        <input type="text" id="form-control" id="email" name="email" tabindex="1" required>
                        
                    </div>
                    <button id="btn-primary" type="submit">Registrarse</button>
                </form>
            </div>
        </div>
        
    </div>
</body>