<link rel="stylesheet" href="/css/cajas/cajas.css">
<h1 id="titulo">Nuestras Categorias</h1>
<div id="caja1">
    <img id="fotoCaja1" src="https://cdns.tblsft.com/sites/default/files/blog/screen_shot_2020-06-19_at_10.33.54_am.png">
    <h2 id="tituloCajitas4">Liderando</h2>
    <a id="boton1" href="/liderando" target="_blank">Ingresar</a>
</div>
<div id="caja2">
    <img id="fotoCaja2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9-bqdAaOv0TROxgz51Cq2XKS1cmnWqD2UoA&usqp=CAU">
    <h2 id="tituloCajitas4">Lideres Sociales</h2>
    <a id="boton2" href="" target="_blank">Ingresar</a>
</div>
<div id="caja3">
    <img id="fotoCaja3" src="https://newmedia.ufm.edu/wp-content/uploads/2017/01/lideres-politicos-del-siglo-XX.jpg">
    <h2 id="tituloCajitas4">Lideres Politicos</h2>
    <a id="boton3" href="" target="_blank">Ingresar</a>
</div>
<div id="caja4">
    <img id="fotoCaja4" src="https://www.lifeder.com/wp-content/uploads/2016/06/lideres-religiosos-de-la-historia-y-actualidad.jpg">
    <h2 id="tituloCajitas4">Lideres Religiosos</h2>
    <a id="boton4" href="" target="_blank">Ingresar</a>
</div>